---
import Navigation from '../components/Navigation.astro'
import { DarkMode, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header>
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <a href="/">Home</a>
    </li>
    <li class="menu-item">
      <a href="/portfolio/">Portfolio</a>
    </li>
    <li class="menu-item">
      <a href="/blog/">Blog</a>
    </li>
    <li class="menu-item">
      <a href="/resume/">Resume</a>
    </li>
    <li class="menu-item">
      <a href="/contact/">Contact</a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <a href="https://github.com/iammerus" aria-label="GitHub Profile">
        <Icon name="lucide:github" />
        <span class="sr-only">Go to my GitHub profile</span>
      </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <a href="https://www.linkedin.com/in/melvin-mupondori-815318210/" aria-label="LinkedIn Profile">
        <Icon name="lucide:linkedin" />
        <span class="sr-only">Go to my LinkedIn profile</span>
      </a>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon name="lucide:moon" slot="light" />
        <Icon name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  header {
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>
